.DS_Store
.env
.env.test
.vscode
*/.DS_Store
*/*/.DS_Store
*/docker-compose/*/data
docker-compose/*/data/*
*/docker-compose/*/data/*
*/docker-compose/*/logs/*
*/docker-compose/*/tmp/*
docker-compose/*/logs/*
docker-compose/*/tmp/*
docker-compose/*/*/tmp/*
docker-compose/*/*/*.log
docker-compose/*/*/*/*.log

.venv
*/.venv
*/*/.venv
*/*/*/.venv
*/*/*/*/.venv
*/*/*/*/*/.venv
*/*/*/*/*/*/.venv
*/*/*/*/*/*/*/.venv
__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*/*/*/*/*/*/__pycache__
*/*/*/*/*/*/*/__pycache__
